DISCORD_WEBHOOK_URL=Your_Discord_Webhook_URL_Here
DISCORD_INTERVAL=30

POSTGRES_USER=Your_Postgres_User_Here
POSTGRES_PASSWORD=Your_Postgres_Password_Here
POSTGRES_DB=Your_Postgres_DB_Here
POSTGRES_HOST=Your_Postgres_Host_Here
POSTGRES_PORT=Your_Postgres_Port_Here

MINIO_USER=Your_MinIO_User_Here
MINIO_PASSWORD=Your_MinIO_Password_Here
MINIO_BASE_URL=Your_MinIO_Base_URL_Here